django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
django-cors-headers
python-dotenv
pandas
numpy
matplotlib
openpyxl
scipy
rasterio
shapely
pyproj
pysheds
scikit-image
pillow
numba
networkx
geojson
